.GatheredMatches {
  &-title {
    @extend .h3;
  }
  &-region {
    display: table;
    padding: 4px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-left-radius: 40px 64px;
    border-top-right-radius: 40px 64px;
  }
  &-table {
    @extend .table;
    &-caption {
      caption-side: top;
      text-align: center;
    }
    &-row {
    }
    &-cell {
      &:first-child {
        text-transform: uppercase;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}