%padded-box {
  padding: 15px;
  border: 2px outset darkgray;
  margin: 4px;
}

.Monitor {
  &__gathered-matches {
    display: inline-flex;
    @extend %padded-box;
  }
  &__gatherers-activity {
    display: inline-flex;
    @extend %padded-box;
  }
}